.common{
    position: absolute;
}
.Bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    border-style:solid;
    border-width: 1pt;
    border-color: pink;
}
.Top{
    top: 0px;
    left: 0px;
    right: 0px;
    height: 25%;
    background-color: coral;

}
.Content{
    top: 130px;
    left: 0px;
    right: 0px;
    height: 3%;
    text-align: center;
    border-style:solid;
    border-width: 5pt;
    border-color:pink;
    background-color: white;

}
.pictures{
    display: flex;
    justify-content: space-between;
    top: 250px;
    left: 0px;
    right: 0px;
}
.stuff{
    top: 170px;
    left: 0px;
    right: 0px;
    text-align: center;
}
.list{
    top: 590px;
    left: 180px;
    right: 850px;
}
.intro{
    top: 550px;
    left: 700px;
    right: 0px;
    text-align: center;
}
.video{
    top: 600px;
    left: 700px;
    right: 0px;
}
.education{
    top: 690px;
    left: 0px;
    right: 0px;
    background-color: coral;
    color: white;

}
.skills{
    top: 790px;
    left: 0px;
    right: 0px;
    background-color: coral;
    color: white;

}
.expereince{
    top: 940px;
    left: 0px;
    right: 0px;
    background-color: coral;
    color: white;
}
.picture{
    top: 164px;
    left: 0px;
    right: 0px;
    background-color: coral;
}
.table{
    top: 164px;
    left: 0px;
    right: 0px;
    background-color: coral;
}
.me{
    top: 485px;
    left: 0px;
    right: 0px;
    background-color: coral;
    color: white;
}
.description{
    top: 590px;
    left: 0px;
    right: 0px;
    background-color: coral;
    color: white;
}